#Community{
    width: 100%;
    min-height: 400px;
    background-color:  rgb(255, 251, 228);
}
.crcl{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.crcl i{
    font-size: 35px;
    color: #f2f2f2;
}