#Community{
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(245, 245, 245);
    position: relative;
    overflow: hidden;
}
 #txt{
    color: #2F82FF;
}

#Community > img{
    position: absolute;
    width: 461px;
    height: 170px;
}
#svg1{
    left: -20%;
    bottom: 0;
}
#svg2{
    right: -20%;
    top: 0;
}
.img{
    width: 481px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#svg3{
    position: absolute;
    z-index: 1;
    width: 481px;
    height: 190px;
}
#svg4{
    position: absolute;
    z-index: 2;
    width: 240px;
    height: 170px;
}
.optn{
    padding: 50px 0;
}
@media screen and (max-width : 600px){
    #Community{
        min-height: 70vh;
    }
#Community > img{
    width: 341px;
    height: 100px;
    display: none;
}
#svg1{
    left: -50%;
    bottom: 0%;
    transform: rotate(90deg);
}
#svg2{
    right: -50%;
    top: 60%;
    transform: rotate(90deg);
}
.img{
    width: 301px;
    height: 190px;
}
#svg3{
    position: absolute;
    z-index: 1;
    width: 301px;
    height: 190px;
}
#svg4{
    position: absolute;
    z-index: 2;
    width: 240px;
    height: 170px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.optn{
    padding: 50px 20px;
}
}
