#landing{
    width: 100%;
    height: 90vh;
    background-color: #543DE0;
}
#landing .container .row-12{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.landingCntnt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.landingCntnt h2{
    color: #E5C868;
    font-size: 4rem;
}
.landingCntnt p{
    margin: 40px 0;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .5px;
}

nav  .loginbtn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #E0B948;
    border: 1px solid rgb(129, 121, 121);
    outline: none;
    color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.253);
    transition: .5s ease-in;
    margin-left: 70px;
}
nav  .loginbtn:hover{
    background-color: #fff;
    color: #E0B948;
}

.demo{
    width: 180px;
    padding: 0 10px;
    height: 40px;
    border-radius: 20px;
    background-color: #E0B948;
    border: 1px solid rgb(129, 121, 121);
    outline: none;
    color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.253);
    transition: .5s ease-in;
}
.demo:hover{
    background-color: #fff;
    color: #E0B948;
}
.Landingimage{
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
.Landingimage img{
    margin-top: -50px;
    width: 550px;
    height: 550px;
    object-fit: cover;
} 
@media screen and (max-width : 600px){
    #landing{
        width: 100%;
        height: 90vh;
        padding: 20px 20px;
    }
    #landing .container .row-12{
        display: flex;
        flex-direction: column;
    }
    .landingCntnt{
        justify-content: center;
    } 
.landingCntnt h2{
    font-size: 2.5rem;
}
.landingCntnt p{
    margin: 15px 0;
    font-size: .7rem;
}
.Landingimage{
    padding-top: 50px;
}
.Landingimage img{
    width: 300px;
    height: 300px;
    object-fit: cover;
} 
}