.client{
    width: 100%;
    height: 200px;
}
#client-list{
    background-color: #f2f2f2;
    width: 100%;
    height: 300px;
}
.SwiperSlide{
    width: 250px;
    height: 300px;
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.SwiperSlide img{
    width: 300px;
    height: 100px;   
}
#everynote{
    height: 70px;
}
#square{
    height: 50px;
    width: 240px;
}
.community{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.community #heading{
font-size: 30px;
color: #2F82FF;
}
.eChekinCmmunity{
    padding: 10px 0;
}
.eChekinCmmunity:nth-child(2){
    padding: 0px 0;
}
.eChekinCmmunity .card{
    width: 200px;
    height: 250px;
    background-color: #f2f2f2;
    margin-left: 20px;
    box-shadow: 2px 3px 5px 1px #2c2c2c18;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.eChekinCmmunity .card:hover{
    background-color: #2F82FF;
    color: #f2f2f2;
}
.eChekinCmmunity .card:hover i{
    color: #f2f2f2;
}
.eChekinCmmunity .card:hover i{
    color: #f2f2f2;
}
.eChekinCmmunity .card:hover #text{
    color: #f2f2f2;
}
.eChekinCmmunity .card:hover button{
    background-color: #fff;
    color: #2F82FF;
}
.eChekinCmmunity .card i{  
    font-size: 40px;
    color: #2F82FF;
}
.eChekinCmmunity .card p:nth-child(2){
    font-size: 18px;
    font-weight: 600;
    color: #2F82FF;
}
.eChekinCmmunity .card p:nth-child(3){
    font-size: 13px;
}
.eChekinCmmunity .card:nth-child(1){
    margin-left: 0px;
}
.slidersectn{
    background-color: #fff;
}
.slider{
    height: 350px;
    background-color: #E0B948;
    border-radius: 15px;
}
.slider .mySwiper{
    height: 100%;
}
.slideBx{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slideContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#slideContent p{
    margin: 20px 0;
}
#slideContent button{
    width: 150px;
}
#slideImg{
    width: 300px;
    height: 250px;
    overflow: hidden;
}
#slideImg{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width : 600px){
    .client{
        height: 150px;
    }
    .SwiperSlide{
        width: 200px;
        margin-top: -70px;
    }
    .SwiperSlide img{
        width: 100px;
        height: 50px;   
    }
    #everynote{
        height: 40px;
    }
    #square{
        height: 30px;
        width: 70px;
    } 
    .eChekinCmmunity .card{
        width: 250px;
        height: 300px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .eChekinCmmunity .card i{  
        font-size: 40px;
        color: #2F82FF;
    }
    .eChekinCmmunity .card p:nth-child(2){
        font-size: 20px;
        font-weight: 600;
        color: #2F82FF;
    }
    .eChekinCmmunity .card p:nth-child(3){
        font-size: 15px;
    }
    .eChekinCmmunity .card:nth-child(1){
        margin-left: 0px;
    }
    .slider{
        height: 550px;
    }
    .slideBx{
        display: flex;
        flex-direction: column;
    }
    #slideImg{
        width: 100%;
        height: 200px;
    }
    #slideContent{
        padding: 20px 0;
    }
    #slideContent h2{
        font-size: 20x;
    }
    #slideContent p{
        margin: 15px 0;
    }
}