.DetailSection{
    width: 100%;
    min-height: 100%;
    background-color: #DAE4F2;
}
.DetailSection h2{
    color: #2F82FF;
}
#prtnrLogo{
    width: 200px;
    height: 50px;
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: aliceblue;
    border-radius: 10px;
    font-size: 30px;
}
.Rating{
    width: 200px;
    height: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
}
.Rating .star{
    height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.partner{
    padding: 50px 0;
}
@media screen and (max-width : 600px){
    .DetailSection{
        min-height: 60%;
    }
    .partner{
        padding: 20px 0;
    }

}