.contact{
    width: 100%;
    min-height: 70%;
    background-color: #fff;
}
.form{
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formsctn{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.274);
}
#formsctn form{
width: 100%;
height: 100%;
padding: 20px 20px;
}
form h2{
    font-size: 20px;
    margin-top: 5px;
    color: #2F82FF;
}
form h2 span{
      color: #2F82FF ;
}
form input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border-color: #2F82FF ;
    margin-top: 10px;
}
form input[type = 'submit']{
    background-color: #2F82FF ;
    color: #f2f2f2;
    border: none;
}
form #msg{
    height: 150px;
}
#cntactdtl p{
    font-weight: 500;
    color: #2F82FF ;
    font-size: 15px;
}
#cntactdtl p span{
    font-weight: 400;
    color: rgb(36, 36, 36);
    font-size: 15px;
}
.contact #heading{
    padding: 25px 0;
}

@media screen and (max-width : 600px) {
    .contact:nth-child(2){
        background-color: #000;
    }
    .form{        
        height: 50vh;
    }
    #formsctn{
        width: 80%;
        height: 70%;
    }
    form h2{
    font-size: 15px;
}
form input{
    height: 45px;
}
.contact #heading{
    padding: 15px 0;
}
}