.footer{
    width: 100%;
    height: 65vh;
    background-color: #DAE4F2;
}
.linkSctn{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.linkSctn .links{
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.links h4{
    color: #7461f5;
    font-size: 35px;
    margin-bottom: 10px;
}
.links .footerLinks{
    color: #3f3f3f;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s;
}
#echekinRight{
    color: #3f3f3f;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: none;
}
.links .footerLinks:hover{
    color: #7461f5;

}
 @media screen and (max-width : 600px){
    .footer{
        height: 80vh;
    }
  .linkSctn{
      flex-direction: column;
      align-items: center;
  }
  .linkSctn .links{
      width: 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
}
.linkSctn .links:nth-child(1){
    height: 150px
}
.links h4{
    font-size: 30px;
}
.links .footerLinks{
    font-size: 15px;
    margin-bottom: 5px;
}
} 
